<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>  
<listener class-name="commonUtil.Listener"/> 
<listener class-name="commonUtil.TestngReport"/>
</listeners> 
<test name="Test1">
    <classes>
    <class name="seleniuminterview.testAssignment.TestCase1"/> 
    <class name="seleniuminterview.testAssignment.TestCase2"/> 
    <class name="seleniuminterview.testAssignment.TestCase3"/>
    <class name="seleniuminterview.testAssignment.TestCase4"/> 
    <class name="seleniuminterview.testAssignment.TestCase5"/>     
    </classes>
  </test> 
 
 
</suite> <!-- Suite -->
